{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<h2>Liste des équipes</h2>

<div>
    <button class="btn btn-primary mt-10 mb-10"><a href="{{ path('team_add') }}">Ajouter une équipe</a></button>
</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de l'équipe</th>
                <th scope="col">Division</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td><a href="{{ path('team_read', {'id': team.id}) }}">{{ team.name }}</a></td>
                <td>{{ team.division }}</td>
                <td>
                    <form action="{{ path('team_delete', {'id': team.id}) }}" method="DELETE" >
							<button class="btn btn-danger">Supprimer</button>
							
					</form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
