<header class="d-flex flex-row-nowrap justify-content-center p-10">
  <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
    <div class="d-flex flex-fill flex-row-nowrap align-items-center">
      <a class="header-logo mr-10" href="{{ path('home') }}">
        <img src="{{ asset('images/football.svg')}}">
      </a>
      <h2>Sportyma</h2>
    </div>
    <div class="d-flex flex-fill flex-row-nowrap align-items-center">
      <button class="btn btn-primary mr-5"><a href="{{ path('team_browse') }}">Equipes</a></button>
      <button class="btn btn-primary mr-5"><a href="{{ path('player_browse') }}">Joueurs</a></button>
    </div>


    {% if is_granted('ROLE_USER') %}
    <div>
      <a href="{{ path('current_user') }}">
        <img src="{{ app.user.picture }}" class="avatar avatar-lg mr-10">
      </a>
      <small>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
      </small>
    </div>
    {% else %}
    <div>
      <button class="btn btn-primary mr-5"><a href="{{ path('app_login') }}">Connexion</a></button>
      <button class="btn btn-primary-stroke mr-5"><a href="{{ path('register') }}">Inscription</a></button>
    </div>
    {% endif %}
  </div>
</header>